h2, label, p {
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  color: black;
  text-align: center;
}

.cell { 
  background-color: #white;
  border: 1px solid #6A6C6C;
  color: #161719;
}

.cell:not([class="claimed"]):hover{
	background-color:white; 
}

#gameboard{
	margin: auto; 
	margin-top: 70px;
	top: 60px; 
}

.player {
  background-color: #B9BCB9;
}

.cpu {
  background-color: #36383B;
}

#stotts{
	background-color: #EF5836;
	margin-top: 70px; 
 
} 

#dewan{
	background-color: #39C5AC;
	position: right; 
		
}

.professor{
	width: 400px; 
	border-radius: 25px;
	padding-left: 15px;
	padding-bottom: 15px
}



h1{
	text-align: left;

	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

body{
	background-color: #FDF5D6;
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	margin: 5px;
}

a {
	text-decoration: none;
	font-weight: bold;
}

h3 {
	text-align: center;

}


#navbar {				
	
		top: 30;

		background-color: #EF5836;

		width: 99%;

		float: center;

		clear: both;

		text-align: center;

		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

		padding-bottom: 15px;

		padding-top: 15px;

		font-weight: bold;

		border-radius: 25px;

      	 }

#navbar a {

		font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

		font-size: 19px;

		margin: 70px; 

		color: #FDF5D6;

		text-decoration: none;

		}

#navbar a:hover {
	font-style: italic; 
	color: #39C5AC;
}

a:hover {
	text-decoration: underline; 
}
		
		
#submitnew{
		font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
		background-color: #39C5AC;
			font-size: 16px;
}

#submituser{
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	background-color: #39C5AC;
		font-size: 16px;
}
}		
		
#loginform {
	
		float: right; 
		margin-top: 70px; 
		background-color: #EF5836;
}

#signupform{
	
		float: left; 
		margin-right: 250px; /*
		margin-left: 100px;	*/  
		
}

.accountform{
	background-color: #EF5836;
		border-radius: 25px;
}

#ruleset{
	 background-color: #EF5836;
	 width: 300px;
	 text-align: left;
	 color:  #FDF5D6;
	 border-radius: 25px;
}
