h2, label, p {
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  color: black;
  text-align: center;
}

h1{
	text-align: left;
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	
}

h2{
	clear: both; 
}


h3 {
	text-align: center;

}


h4 { 
	padding-right: 50px;
	float: right; 
}

body{
	background-color: #E8EAF6;
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	margin: 5px;
}

a {
	text-decoration: none;
	font-weight: bold;
}


a:hover {
	text-decoration: underline; 
}
	
#header{
	margin-left: 33px; 
	top: 0px; 
	width:100%;
	position: fixed; 
	z-index: 9999; 
	background-color: #E8EAF6;
}

#topbar{
	background-color: #E8EAF6;
}

#navbar {	
		position: fixed; 
		background-color: #303f9f;
		top:70px;
		left:0; 
		width: 100%;
		text-align: center;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		padding-bottom: 15px;
		padding-top: 15px;
		font-weight: bold;
		margin: auto; 
		/*box-shadow: 3px 3px 10px #BEBEBE;*/
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		z-index:9999;

      	 }

#navbar a {

		font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

		font-size: 19px;

		margin: 70px; 

		color: white;

		text-decoration: none;

		}

#navbar a:hover {
	font-style: italic; 
	color: #FF4081; 
}


.cell { 
  background-color: #white;
  border: 1px solid #6A6C6C;
  color: #161719;
}

.cell:not(.claimed):hover{
	background-color:white; 
}


#gameboard{
	margin: auto; 
	margin-top: 70px;
	top: 60px; 
}

.player {
  background-color: #B9BCB9;
}

.cpu {
  background-color: #36383B;
}

/*#stotts{
	margin-top: 200px; 
	position: relative;
	float: left; 
	margin-left: 70px;
} 

#dewan{ 
	float: right; 
	margin-right: 70px; 
	position: relative; 
	margin-top: 200px; 
} 

#baruah{ 
	float: left; 
	margin: 50px; 
	position: relative; 
	clear: both;
}

#singh{
	float: right; 
	margin: 50px; 
	position: relative; 
}

#bishop{
	float: left; 
	margin: 50px; 
	position: relative; 
	clear: both; 
}
 */
.leftprof{
	background-color: #C5CAE9;
	margin-top: 200px; 
	position: relative;
	float: left; 
	margin-left: 70px;
	clear:both; 
}

.rightprof{
	background-color: #FF80AB; 
	float: right; 
	margin-right: 70px; 
	position: relative; 
	margin-top: 200px; 
	clear:both; 
}
.professor{
	width: 30%; 
	border-radius: 25px;
	padding-left: 15px;
	padding-bottom: 15px;
}

.professor:hover{
	position: relative; 
    top: -5px;
	box-shadow: 10px 10px 5px #888888;
}
	
		
#submitnew{
		font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
		background-color: #39C5AC;
			font-size: 16px;
}

#submituser{
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	background-color: #39C5AC;
		font-size: 16px;
}
}		
		
#loginform {
		position: relative; 
		float: right; 
		padding: 20px;
}

#signupform{
		position: relative; 
		float: left;	
		padding: 20px; 
		
}

.accountform{
	background-color: #EF5836;
	border-radius: 25px;
}

#ruleset{
	 background-color: #EF5836;
	 width: 300px;
	 text-align: left;
	 color:  #FDF5D6;
	 border-radius: 25px;
}

