h2, label, p {
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  color: black;
  text-align: center;
}

h1{
	text-align: left;
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	opacity: 0.87;
}

h2{
	clear: both; 
}

h3 {
	text-align: left;
	float: right; 
	position: relative; 
	padding-right: 50px;
	font-size: 20px;
	opacity: 0.87;
}

h4 { 

	clear: both; 
	text-align: left;
	font-size: 19px;
	opacity: 0.54;
}

body{
	background-color: #E8EAF6;
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	margin: 5px;
}

a {
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline; 
}

h5{
	text-align: left; 
	font-size: 14; 
	color: black;
}

		
/* nav bar*/
#header{
	margin-left: 25px; 
	top: 0px; 
	width:100%;
	position: fixed; 
	z-index: 9999; 
	background-color: #E8EAF6;
}

#topbar{
	background-color: #E8EAF6;
}

#navbar {	
		position: fixed; 
		background-color: #303f9f;
		top:70px;
		left:0; 
		width: 100%;
		text-align: center;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		padding-bottom: 15px;
		padding-top: 15px;
		font-weight: bold;
		margin: auto; 
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		z-index:9999;

      	 }

#navbar a {

		font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
		font-size: 19px;
		margin: 70px; 
		color: white;
		text-decoration: none;

		}

#navbar a:hover {
	font-style: italic; 
	color: #C5CAE9; 
}

	

/* gameboard */

.cell { 
  background-color: #9FA8DA;
  border: 1px solid #E8EAF6;
  color: white;
  opacity: .87;
}

.cell:not(.claimed):hover{
	background-color:#C5CAE9; 
	cursor: pointer;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
	z-index:9999;
}

#gameboard{
	margin: auto; 
	position: relative;
	top: 155px;
	margin-bottom: 100px;

}

#pscore{
	text-align: left; 
	float: left; 
	margin-left: 8px;
	margin-top: 3px; 
}

#cscore{
	text-align: right; 	
	float: right; 
	margin-right: 8px; 
	margin-top: 3px; 
}

#scores{
	margin: auto; 
	background-color: #ff4081;
	position: relative;
	top: 155px;
	width: 390px;
	height: 30px;
	opacity: .87;

}

.player {
  background-color: #5c6bc0;
}

.cpu {
  background-color: #EC407A;
}
 

/* professor bubbles for New Game page */ 

#stotts{
	  background: url(http://cs.sites.unc.edu/files/2013/12/stotts.jpeg); 
	  height: 150px; 
	  background-size:cover;
	  background-repeat: no-repeat; 
}

#dewan{
	background: url(http://www.cs.unc.edu/~dewan/index_files/image002.jpg);
	height: 150px;
	background-size:cover;
	background-repeat: no-repeat; 
}

#baruah{
	background: url(https://www.cs.unc.edu/~baruah/Pics/2009baruah1.jpg);
	height: 150px;
	background-size:cover;
	background-repeat: no-repeat;
}

#singh{
	background: url(https://www.cs.unc.edu/~montek/images/100_5473.JPG);
	height: 150px;
	background-size:cover;
	background-repeat: no-repeat;
}

#bishop{
	background: url(http://www.cs.unc.edu/~gb/media/gb.png);
	height: 150px;
	background-size:cover;
	background-repeat: no-repeat;
}

#pozefsky{
	background: url(http://www.americas.datafest.net/_/rsrc/1384653839266/about/awards/D_Pozefsky.png);
	height: 150px;
	background-size:cover;
	background-repeat: no-repeat;
}

#fuchs{
	background: url(http://www.cs.unc.edu/~fuchs//fuchs2011c.jpg);
	height: 150px;
	background-size: cover;
	background-repeat: no-repeat;
}

#lastra{
	background: url(http://cs.sites.unc.edu/files/2013/12/lastra.jpeg);
	height: 150px;
	background-size: cover;
	background-repeat: no-repeat;
}

#jeffay{
	background: url(http://cs.unc.edu/files/2013/12/jeffay_kevin_cropped1-e1446652966504-wpcf_120x176.png);
	height: 150px;
	background-size: cover;
	background-repeat: no-repeat;
}

#turing{
	background: url(https://upload.wikimedia.org/wikipedia/commons/a/a1/Alan_Turing_Aged_16.jpg);
	height: 150px;
	background-size: cover;
	background-repeat: no-repeat;
}

#brooks{
	background: url(http://www.cs.unc.edu/Events/News/VirtuousReality/brooks1.jpg); 
	height: 150px;
	background-size: cover;
	background-repeat: no-repeat;
}

#kmp{
	background: url(http://cs.sites.unc.edu/files/2013/12/Mayer-patel.jpeg);
	height: 150px;
	background-size: cover;
	background-repeat: no-repeat;
}

#topokmp{
	background-image: url(topokmp.gif);
	height: 150px;
	background-size: cover;
	background-repeat: no-repeat;
}

 .topprof{
	 margin-top: 180px; 
 }
 
 .lowerprof{
	 margin-top: 35px;
 }
 
.leftprof{
	position: relative;
	float: left; 
	margin-left: 120px;
	clear:both;	
}

.rightprof{ 
	float: right; 
	margin-right: 120px; 
	position: relative; 
}

.centerprof{
	top: 35px; 
	clear: both; 
	position: relative; 
	margin-left: auto;
	margin-right: auto; 
	margin-bottom: 100px;  
}

.professor{
	width:350px;
	height: 180px; 
	border-radius: 10px;
	padding-left: 15px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.46);
}

.professor:hover{
	cursor: pointer;
}

.pinkprof{
	background-color: #FF80AB;
}

.pinkprof:hover{
	background-color: #ff92b7;
}

.blueprof{
	background-color: #C5CAE9;
}

.blueprof:hover{
	background-color: #d0d4ea;
}

.professor:active{
	position: relative; 
    top: +5px;
	box-shadow: none; 
}

.titles{
	float:left;
	padding-left: 15px; 
	margin-top: 0; 
}

.image{
  margin-top: 15px;  
  width: 100px;
  float: left; 
  position: relative; 
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.6);
  border-radius: 10px;
  margin-bottom: 5px; 
}		

#submitnew{
		font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
		background-color: #39C5AC;
			font-size: 16px;
}

#submituser{
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	background-color: #39C5AC;
		font-size: 16px;
}
}		
		
#loginform {
		position: relative; 
		float: right; 
		padding: 20px;
}

#signupform{
		position: relative; 
		float: left;	
		padding: 20px; 
		
}

.accountform{
	background-color: #EF5836;
	border-radius: 10px;
}

#ruleset{
	 margin-top: 200px; 
	 background-color: #EF5836;
	 width: 300px;
	 text-align: left;
	 background-color: #FF80AB; 
	 border-radius: 10px;
}

